#Scheduling {
  .Scheduling {
    &__title {
      font-family: $baloo;
      color: $purple;
    }

    &__card {
      background: $white;
      border-radius: 16px;
      padding: 16px;
      cursor: pointer;
      display: flex;

      justify-content: center;
      align-items: center;
      box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.7);
      width: 100%;
      @media only screen and (min-width: 992px) {
        width: calc(100% / 7);
      }
      &:not(.disabled).active {
        border: 1px solid $pink;
        background: lighten($pink, 30);
      }

      &.disabled {
        border: 1px solid $gray7;
        opacity: 0.7;
        cursor: not-allowed;
      }

      &__container {
        display: flex;
        gap: 16px;
        margin: 32px 0;
        flex-wrap: wrap;
      }
      &--header {
        &--title {
          color: $purple;
          font-family: $baloo;
          font-size: 1rem;
          font-weight: bold;
          line-height: 1.8rem;
          text-align: center;

          &.disabled {
            color: $gray7;
          }
        }
        &--time {
          color: $purple;
          font-family: $baloo;
          font-size: 1rem;
          font-weight: bold;
          text-align: center;
          line-height: 1.4rem;

          &.disabled {
            color: $gray7;
          }
        }
      }
    }

    &__body {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;

      .container-component__select {
        background: $white;
        border: 1px solid $gray-100;
        box-sizing: border-box;
        border-radius: 18px;
        color: $black;
        font-family: $baloo;
        height: 50px;
        font-size: 1rem;
        line-height: 2rem;
        margin-top: 0px;
      }

      .form-group {
        width: 100%;
        &__input {
          border: 1px solid $white;
          border-radius: 18px;
          font-family: $baloo;
        }
      }
    }

    &__label {
      color: $purple;
      font-family: $baloo;
      font-size: 1rem;
      line-height: 1.8rem;
    }
    &__buttons {
      margin-bottom: 150px;
    }
  }

  .Button__scheduling {
    display: flex;
    justify-content: center;
    align-items: center;

    .c-button--pink {
      gap: 16px;
      width: 100%;
      max-width: 180px;
    }
  }

  .Button__scheduling--search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    .c-button--pink {
      gap: 16px;
      width: 100%;
      max-width: 200px;
    }
  }
}
