.Alert {
  &--success {
    background: lighten($status-success, 65) !important;
    &--title {
      color: $status-success !important;
    }
  }

  &--error {
    background: lighten($status-negative, 40) !important;
    &--title {
      color: $status-negative !important;
    }
  }
}
