#ongs {
  padding-bottom: 64px;
  .ongs {
    &__create {
      padding: 16px;
      background: $white;
      margin-bottom: 1rem;
      border-radius: 8px;
      &-title {
        margin: 0 0 8px 0;
        font-size: 1.2rem;
        color: $black;
        text-decoration: none;
        font-weight: 400;
      }
    }

    &__body {
      display: flex;
      flex-wrap: wrap;
      gap: 26px;

      &-container {
        display: flex;
        justify-content: center;
        gap: 16px;
        width: 100%;
        flex-wrap: wrap;
        flex-direction: column;
        border-bottom: 0.5px solid $gray4;
        padding: 16px 0;
        @media only screen and (min-width: 992px) {
          gap: 15px;
          border-bottom: none;
          padding: 0px 0;
          flex-wrap: wrap;
          width: calc(33% - 15px);
        }
      }

      &-content {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 16px 0;

        @media only screen and (min-width: 992px) {
          flex-direction: row;
          gap: 16px;
          border-bottom: 0.5px solid $gray4;
        }
      }
      &-list {
        list-style: none;
        padding-left: 0;
        margin-bottom: 16px;

        .item {
          color: $black;
          font-size: 1rem;
          font-weight: 400;
          @media only screen and (min-width: 992px) {
            white-space: nowrap;
            max-width: 300px;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }

      &-buttons {
        display: flex;
        gap: 12px;
      }

      &-image {
        font-size: 30px;
        color: $black;
        display: flex;
        align-items: center;
        justify-content: center;
        @media only screen and (min-width: 992px) {
          justify-content: flex-start;
        }

        img {
          height: 200px;
          width: 100%;
          object-fit: cover;
        }

        svg {
          height: 200px;
          width: 100%;
          object-fit: cover;
        }
      }
    }

    &__forms {
      &-content {
        display: flex;
        flex-direction: column;
        gap: 16px;

        @media only screen and (min-width: 992px) {
          flex-direction: row;
          justify-content: flex-end;
        }
        .form-group {
          position: relative;
          width: 100%;
        }

        .c-button {
          @media only screen and (min-width: 992px) {
            max-width: 200px;
          }
        }
      }

      &-title {
        margin: 0 0 8px 0;
        font-size: 1.2rem;
        color: $black;
        text-decoration: none;
        font-weight: 400;
      }
    }
  }
}

.ong {
  .modal {
    &__body {
      overflow: auto;
      -ms-overflow-style: none;
      scrollbar-width: none;
      height: 500px;

      @media only screen and (min-width: 992px) {
        overflow: hidden;
        height: 100%;
      }

      &-list {
        padding-left: 0;
        list-style: none;

        .item {
          color: $black;
          font-size: 1rem;
          margin-bottom: 8px;
        }
      }
    }

    &__login {
      display: flex;
      justify-content: space-between;
      margin: 16px 0;
      flex-wrap: wrap;

      @media only screen and (min-width: 992px) {
        flex-wrap: nowrap;
      }
      .form-group {
        width: 100%;
      }

      &-title {
        font-size: 1rem;
        line-height: 12px;
        color: $black;
        margin-bottom: 0;
      }
    }
    &__textarea {
      margin-top: 32px;
      .label {
        font-size: 1rem;
        color: $black;
        margin-bottom: 8px;
      }
    }
    &__container {
      &-close {
        position: absolute;
        right: 20px;
        top: 10px;
      }
    }

    &__header {
      &-title {
        font-size: 1.2rem;
        color: #000000;
        font-weight: normal;
      }
    }

    &__description {
      display: flex;
      gap: 32px;
      margin-bottom: 32px;
      flex-wrap: wrap;

      &-input {
        display: flex;
        flex-direction: column;
        width: 100%;
      }

      .label {
        font-size: 1rem;
        color: $black;
        margin-top: 8px;
        margin-bottom: 0px;
      }
    }

    &__image {
      width: 100%;
      height: 230px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      &-file {
        display: none;
      }

      label {
        width: 100%;
        height: 200px;
        background-size: cover;
        &.active {
          svg {
            display: none;
          }
        }
      }

      svg {
        width: 100%;
        height: 200px;
      }
    }
    &__cep {
      width: 100%;
      display: flex;
      grid-gap: 16px;
      gap: 16px;
      flex-wrap: wrap;

      @media only screen and (min-width: 992px) {
        flex-wrap: nowrap;
      }

      .form-group {
        width: 100%;
        @media only screen and (min-width: 992px) {
          width: 30%;
        }
      }

      .c-button {
        @media only screen and (min-width: 992px) {
          max-width: 200px;
        }
      }
    }

    &__address {
      display: flex;
      gap: 16px;
      width: 100%;
      flex-wrap: wrap;

      @media only screen and (min-width: 992px) {
        flex-wrap: nowrap;
      }

      .form-group {
        width: 100%;
      }
    }

    &__responsible {
      display: flex;
      padding: 32px 0;
      flex-wrap: wrap;
      width: 100%;

      input:first-child {
        margin-top: 32px;
      }

      input:last-child {
        margin-top: 16px;
      }

      .form-group {
        width: 100%;
        padding-right: 0px;

        @media only screen and (min-width: 992px) {
          width: 50%;
          padding-right: 8px;
        }
      }
    }

    &__buttons {
      display: flex;
      gap: 16px;
      margin-top: 32px;
    }
  }
}
