.header {
    background: $white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    padding: 10px;

    &__container {
        display: flex;
        justify-content: space-between;
    }

    &__info {
        display: flex;
        gap: 10px;
        align-items: center;

        @media (min-width: 992px) {
            gap: 30px;
        }

        &-exit {
            .btn {
                display: inline-block;
                font-weight: 400;
                line-height: 1.5;
                color: $black;
                width: 100px;
                text-align: center;
                text-decoration: none;
                vertical-align: middle;
                cursor: pointer;
                -webkit-user-select: none;
                -moz-user-select: none;
                user-select: none;
                background-color: $blue;
                border: 1px solid $blue;
                padding: 4px 20px;
                font-size: 1rem;
                border-radius: 100px;
                transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
                    box-shadow 0.15s ease-in-out;
            }
        }
    }
    &__logo {
        border: 2px solid $blue;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px;
        margin-bottom: 0;
        width: 150px;

        &-title {
            color: $blue;
            font-size: 1.8rem;
            font-weight: normal;
            text-transform: uppercase;
        }
    }

    &__user {
        display: flex;
        gap: 8px;
        align-items: center;

        &-title {
            color: $black;
            font-size: 1.2rem;
        }
        &-image {
            &-icon {
                font-size: 30px;
                color: $blue;
            }
        }
    }
}
