#dashboardAdopter {
  .CartTinderContainer {
    max-width: 450px;
    height: 520px;
    width: 90vw;
    margin: auto;
    padding-top: 1rem;
    @media only screen and (min-width: 992px) {
      padding-top: 0;
      margin: 0;
    }
  }
}
